body {
  background-color: rgb(34, 32, 32);
  font-family: "Roboto", sans-serif;
}
form {
  width: 30rem;
  margin: 5rem auto;
  background-color: aliceblue;
  border-radius: 9px;
  padding: 1rem;
}
label{
  margin-bottom: 0.5rem;
  display: block;
}
input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font:inherit;
  border:1px solid rgb(184,184,184);
}
input:focus{
  background-color: rgb(219,190,253);
  color:rgb(49, 11, 93);
  border-color: rgb(30, 3, 60);
}
button {
  font:inherit;
  display: block;
  background-color:rgb(30, 3, 60) ;
  color:white;
  border: 1px solid rgb(30, 3, 60);
  padding:0.5rem 1.5rem; 
  border-radius: 4px;  
  cursor:pointer;
}
button:hover{
  background-color: rgb(102, 40, 172);
  border-color:rgb(114, 71, 163)
}
.radio{
  display: flex;
}
.radio input{
  width: auto;
  margin-right: 0.5rem;
}
